
<div class="container2">
    <h1>Stupid Coaching</h1>
    <div class="q1">
    <h2>Your question was: <%=@question%> </h2>
    </div>
    <h2>The  Coach Answer is: <%=@answer%> </h2>
    <div class="return">
    <%= link_to "Ask a new quesiton", "/ask" %>
    </div>
</div>
