
  <div class="container1">
  <h1>Stupid Coaching</h1>
  <h2>Ask your Couch a question</h2>

  <form action="/answer">
    <input class= "card1"type="text" name="user_input">
    <input class="btn"type="submit" value="Ask!">
  </form>
  </div>
